.login {
	background-image: url("https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?q=80&w=1844&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 80vh;
	width: 100%;
	text-align: center;
}

.login h1 {
	padding-bottom: 0.2em;
}

.login form {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	margin: 6em auto;
	padding: 2em 1em;
	width: 33%;
	background-color: black;	
	
}

.login p {
	margin: 1em 0em;
}

.messages {
	display: flex;
	flex-direction: column;
	justify-content: center;	
	width: 100%;	
	min-height: 50px;
	border-bottom: 1px solid gray;
}