.sendMail {		
	margin: 0 auto;
	padding-top: 2em;
	width: 40%;
}
.sendMail h2 {
	text-align: center;
}

.sendMail form {
	display: flex;
	flex-direction: column;
	margin: 2em 1em;
	background-color: black;
	padding: 3em 1em;	
}

.messages {
	display: flex;
	flex-direction: column;
	align-items: normal; /*para sobreescrever a geral*/
	width: 100%;
	padding-bottom: 1em;
	min-height: 50px;
}

.sendMail form p {
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 600px) {
  .sendMail {
    width: 80%;
		max-width: 80%;
  }
}